@model MyEventsCollectionViewModel
@{
    var pageNumber = (int)this.ViewData["Page"];
    var previousPageNumber = pageNumber - 1;
    var nextPageNumber = pageNumber + 1;

    var hasNextPage = (bool)this.ViewData["HasNextPage"];
    var pageEntities = (int)this.ViewData["PageEntities"];
}

<main class="mt-3">
    <h1 class="text-center">My Events</h1>
    <hr class="form-line" />
    <table class="table mx-auto table-hover">
        <thead>
            <tr class="row" style="margin-left: 0px; margin-right: 0px;">
                <th class="col-md-1"><strong>#</strong></th>
                <th class="col-md-3"><strong>Name</strong></th>
                <th class="col-md-3"><strong>Start</strong></th>
                <th class="col-md-3"><strong>End</strong></th>
                <th class="col-md-2"><strong>Tickets</strong></th>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.MyEvents.Count(); i++)
            {
                <tr class="row m-0">
                    @{ var currentEvent = Model.MyEvents[i]; }
                    @{ var rowNumber = i + 1 + (pageNumber - 1) * pageEntities; }
                    <td class="col-md-1"><strong>@rowNumber</strong></td>
                    <td class="col-md-3">@currentEvent.Name</td>
                    <td class="col-md-3">@currentEvent.Start</td>
                    <td class="col-md-3">@currentEvent.End</td>
                    <td class="col-md-2">@currentEvent.Tickets</td>
                </tr>
            }
        </tbody>
    </table>
    <hr class="form-line" />
    <div class="d-flex justify-content-between">
        @if (previousPageNumber < 1)
        {
            <button class="btn eventures-bg-color" asp-controller="Events" asp-action="MyEvents" asp-route-page="@previousPageNumber" disabled>Previous Page</button>
        }
        else
        {
            <a class="btn eventures-bg-color" asp-controller="Events" asp-action="MyEvents" asp-route-page="@previousPageNumber">Previous Page</a>
        }
        @if (!hasNextPage)
        {
            <button class="btn eventures-bg-color" asp-controller="Events" asp-action="MyEvents" asp-route-page="@nextPageNumber" disabled>Next Page</button>
        }
        else
        {
            <a class="btn eventures-bg-color" asp-controller="Events" asp-action="MyEvents" asp-route-page="@nextPageNumber">Next Page</a>
        }
    </div>
</main>